/* Slide in/out TransitionGroup animations. */

.enter, .exit {
  position: absolute;
  top: 0;
  left: 0;
}

.enterActive, .exitActive {
  box-sizing: border-box;

  width: 100%;

  transition: 1s ease-in-back;
  transition-property: opacity, transform;
}

.enter, .exitActive {
  opacity: 0;
}

.enter {
  transform: translateX(100%);
}

.enterActive, .exit {
  opacity: 1;
  transform: translateX(0px);
}

.exitActive {
  transform: translateX(-100%);
}

.enterDone, .exitDone {
  position: relative;
}
