:global(#root) {
  background-color: hsl( 180, 5%, 25% );
  background-image: var(--lighting-gradient), url('./brick-wall.svg');
  background-attachment: fixed, local;
  background-position: center, 0.5em;

  padding: 0.5em;
  margin: 1em;

  border: 0.25em outset hsl( 180, 5%, 45% );
  border-radius: 0.75em;

  box-shadow: 0 0 1em black;
}
