.fileInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.fileInput:focus + label {
  outline: 0.1 dotted black;
  outline: -webkit-focus-ring-color auto 5px;
}

.fileInputLabel {
  composes: interactiveButton from '../../utils/interactive-button';
}
