.chronicles {
  columns: 20rem auto;
  column-gap: 2rem;
  padding-top: 1rem;
  height: 100%;
}

.chronicle {
  display: flex;

  justify-content: space-between;
  align-items: center;
  align-content: center;

  break-inside: avoid-column;
}

.chronicle h2 {
  margin: 0;
  text-align: center;
}

.chronicles a {
  color: black;
}

.chronicles a:visited {
  color: steelblue;
}
