.about {
}

.about a {
  display: inline-block;
  color: blue;
  transition: all 300ms ease-in-circ;
}

.about a:hover {
  transform: translateY(-0.05em) scale(1.05);
}

.about a:visited {
  color: darkcyan;
}
