.interactiveButton {
  background-color: transparent;
  border: none;
  cursor: pointer;

  padding: 0.1em 0.25em;

  transition: all 300ms ease-in-out-circ;

  display: inline-flex;
  align-items: center;

  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

.interactiveButton:hover:not(:disabled) {
  transform: translateY(-0.1em) scale(1.05);
  text-shadow: 0 0 3px silver, 0 0.2em 0.1em var(--text-shadow-color);
}

.interactiveButton:active {
  transform: translateY( 0.2em );
  box-shadow: var(--box-shadow-inset);
  background-color: rgba( 0,0,0, 0.7 );
}

.interactiveButton:disabled {
  cursor: not-allowed;
  color: gray;
}
