.event {
  display: flex;
  flex-direction: row;
  font-size: 1em;
  line-height: 1em;
  align-items: flex-start;
  break-inside: avoid-column;
}

.event img {
  height: 2em;
  flex: none;
}

.dropcap {
  font-size: 2.3em;
  text-transform: uppercase;
  margin: 0.2em 0.1em 0;
  flex: none;
}
