:global(:root) {
}

html, body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  background-color: hsl( 180, 25%, 50% );
  background-image: radial-gradient( at top, hsl( 0, 0%, 100% ), transparent );

  background-attachment: fixed;

  font-family: 'UnifrakturCook', cursive;

  font-size: 24px;
  font-size: calc( 1vw + 1vh + .5vmin );
}
