.siteHeader {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.35em 0em 3.6em;
  margin-top: -3em;

  width: 115%;
  margin-left: -7.5%;
  margin-bottom: -0.75em;

  border-image: url('./logo-banner.png') 110 1350 500 1350 fill / 0.75em 9em 4em;

  filter: drop-shadow( var(--box-shadow) );
}

.siteHeader > img {
  width: 3em;
  filter: invert(1);
}

.siteHeader > h1 {
  margin: 0;
  padding: 0;
  color: white;
}
