.chronicle {
  box-sizing: border-box;

  height: 100%;
  padding: 1em 2em 0;

  overflow-x: auto;
  columns: 10em auto;

  column-rule: 0.1em solid gray;
  column-gap: 2em;

  position: relative;
}

.chronicle header {
  break-before: column;
  break-after: avoid-column;
}

.chronicle header > * {
  margin-top: 0;
  text-align: center;
}
